<p>#i18N("copyright")</p>
<div class="row">
  <div class="span5">
    <p>
      <a href="http://simplegames.ca/">Simplegames, CANADA</a> |
      <a href="https://github.com/florinpatrascu/micro/issues">Support</a> |
      <a href="/disclaimer.md">Disclaimer</a> |
      <a href="http://simplegames.ca/contact">Contact</a>
      <br/>
      ## <h5><span class="label">todo:</span> ...</h5>
    </p>
  </div>
  <div class="span4">
    &nbsp;
  </div>
  <div id="span2">
    <strong>Powered by&nbsp;</strong> <span class="label">micro v0.2</span>
  </div>
</div>
