<h4>Introduction</h4>
<ul class="nav nav-list">
  <li><a href="/">Overview</a></li>
  <ul>
    <li><a href="/microwebapp.md">web application layout</a></li>
    <li><a href="/cli.md">the console</a></li>
  </ul>
  <li><a href="/repositories.md/">Repositories</a></li>
  <li><a href="/views/">Views</a></li>
    <ul>
      <li><a href="/views/engines.md/">Template engines</a></li>
      <li><a href="/views/velocity.md/">Velocity</a></li>
      <li><a href="/views/markdown.md/">Markdown</a></li>
      <li><a href="/views/freemarker.md/">Freemarker</a></li>
    </ul>
  <li><a href="/internationalization.md">Internationalization (I18n)</a></li>
  <li><a href="/helpers/">Helpers</a></li>
  <li><a href="/helpers/filters.md/">Filters</a></li>
  <li><a href="/controllers/">Controllers</a></li>
  <li><a href="/routing/">REST, routing</a></li>
  <li><a href="/extensions/">Extensions</a></li>
  <li><a href="/cache.md">Cache</a></li>
  <li><a href="/database/">Database access</a></li>
</ul>

<h4>Examples</h4>
<ul class="nav nav-list">
  <li><a href="/designers/">Designers</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/production/">Micro in Production</a></li>
</ul>

<h4>Testing</h4>
<ul class="nav nav-list">
  <li><a href="/junit/">Testing with JUnit</a></li>
  <li><a href="/bdd/">BDD</a></li>
</ul>

<div id="contribute" class="well">
  <span class="label label-success">Help</span> us improve these docs.
  <a href="https://github.com/florinpatrascu/micro">Fork this repo</a>,
  make your changes and submit a pull request. <strong>Thank you<icon class="icon-glass"/></strong>
</div>
  