<div class="row">
  <div class="span6">
    #i18N("copyright")
  </div>
  <div class="span2 offset3" style="white-space: nowrap;">
    <strong>Powered by </strong><span class="label">micro v0.2</span>
  </div>
</div>

<div class="row">
  <div class="span6">
      <a href="http://simplegames.ca/">Simplegames, CANADA</a> |
      <a href="https://github.com/florinpatrascu/micro/issues">Support</a> |
      <a href="/disclaimer.md">Disclaimer</a> |
      <a href="http://simplegames.ca/contact">Contact</a>
      <br/>
      Follow us on Twitter: <a href="http://twitter.com/micro_mvc">@micro_mvc</a>
      ## <h5><span class="label">todo:</span> ...</h5>
  </div>
  <div class="span2 offset3">
    <span class="muted">ENV: $!{site.MicroEnv}</span>    
  </div>
  
</div>
