<h4>Get started</h4>
<ul class="nav unstyled">
    <li><a href="/">Quickstart</a></li>
    <li><a href="/microwebapp.md">Web application layout</a></li>
    <li><a href="/config.md">Configuring Micro</a></li>
    <li><a href="/cli.md">The console</a></li>
</ul>

<h4>Core concepts</h4>
<ul class="nav unstyled">
  <li><a href="/repositories.md/">Repositories</a></li>
  <li><a href="/repositories.md#templates">Templates</a></li>
  <li><a href="/views/">Views</a></li>
  <li><a href="/views/engines.md">Template engines:</a></li>
    <ul class="nav nav-list">
      <li><a href="/views/engines.md#Velocity">Velocity</a></li>
      <li><a href="/views/engines.md#Markdown">Markdown</a></li>
      <li><a href="/views/engines.md#Freemarker">Freemarker</a></li>
    </ul>
  <li><a href="/helpers/">Helpers</a></li>
  <li><a href="/helpers/filters.md/">Filters</a></li>
  <li><a href="/controllers/">Controllers</a></li>
  <li><a href="/routing/">REST, routing</a></li>
  <li><a href="/extensions/">Extensions</a></li>
  <li><a href="/internationalization.md">Internationalization (I18n)</a></li>
  <li><a href="/cache.md">Cache</a></li>
  ##<li><a href="/database/">Database access</a></li>
</ul>

<h4>Examples</h4>
<ul class="nav unstyled">
  <li><a href="/micro_for/designers.md">Micro for Designers</a></li>
  <li><a href="/micro_for/developers.md">Micro for Developers</a></li>
  <li><a href="/micro_for/production.md/">Micro in Production</a></li>
  <ul class="nav unstyled">
    <li><a href="/micro_for/heroku.md/">Running at Heroku</a></li>
  </ul>
  <strong></strong>
</ul>

<h4>Testing</h4>
<ul class="nav unstyled">
  <li><a href="/junit/">Testing with JUnit</a></li>
  <li><a href="/bdd/">BDD</a></li>
</ul>

<p></p>

<div id="contribute" class="well">
  <span class="label label-success">Help</span> us improve these docs.
  <a href="https://github.com/florinpatrascu/micro">Fork this repo</a>,
  make your changes and submit a pull request. <span style="white-space: nowrap;"><strong>Thank you<i class="icon-glass"></i></strong></span>
</div>
